/.py
/1Part 2.py
/Contact.html
/FinalProject.py
/ONLINE ASSIGN.js
/Resumea.html
/SQLLite.SQL
/The File.Css
/WEEK 4.py
/Weak 8.py
/Week 2 Part 2.py
/Week 2.py
/Week 3 Bart.py
/Week 5.py
/Week 6.py
/Week 7.py
/am.html
/index.html
/othe 4.py
/py.py